name: Deploy to VM

on: 
    push:
        branches:
        - main #every time their is a push to main 

jobs:
    deploy_vm:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout code
          uses: actions/checkout@v2 #checks the lattest version of the code, v2 for the latest maintianed v of this cmd from github
        
        - name: Set up SSH
          run: |
              mkdir -p ~/.ssh
              echo "${{ secrets.VM_SSH_KEY }}" > ~/.ssh/id_ed25519
              chmod 600 ~/.ssh/id_ed25519
              ssh-keyscan -H ${{ secrets.VM_HOST }} >> ~/.ssh/known_hosts
        
        - name: Deploy to VM
          run: |
                ssh -i ~/.ssh/id_ed25519 -p ${{ secrets.VM_PORT }} ${{ secrets.VM_USER }}@${{ secrets.VM_HOST }} << 'EOF'
                cd ~/OpenCourt || exit
                git pull origin main
                docker-compose down
                docker-compose up -d --build
                EOF
